/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2017, 7:39:47 PM
    Author     : Ismail <is.tmdg86@gmail.com>
*/
@grey: #E0EEE0;
@header-bg-color: #f0f0f0;
@sub-header-color: #6e6e6e;
@title-font-color: #1E90FF;

.pt30 {
    padding-top: 30px;
}
.list-border {
    border-bottom: 1px solid #d4d4d4;
    padding: 5px 10px;
    margin-right: 20px;
}

.listing-header {
    .list-border;
    color: @title-font-color;
    font-weight: 600;
    background-color: @header-bg-color;
}

.list-item {
    .list-border;
    padding-bottom: 5px;
    a {
        color: @title-font-color;
        font-weight: 400;
        text-decoration: none;
        font-size: 16px;
        &:hover {
            color: #FF8C00;
        }
    }
    
    &:hover {
        background-color: @grey;
    }
}

.list-item-author {
    ul {
        padding-left: 0px;
    }
    li {
        display: inline-block;
        padding-right: 15px;
        padding-left: 15px;
        a {
            color: @sub-header-color;
            text-decoration: none;
            font-size: 12px;
            &:hover {
                color: #FF8C00;
            }
        }
    }
}
